/**Top header**/
.ic-main-header {
    .top-headers {
        background: #158DA7;
        padding: 12px 0;

        @media #{$max767} {
            display: none;
        }

        .h-top {
            @include d-flex();
            @include justify-content(space-between);

            @media #{$max991} {
                @include justify-content(center);
            }

            li {
                @include d-flex();

                .h-social {
                    padding-right: 10px;
                    padding-left: 10px;
                    @include d-flex();
                    @include align-items(center);
                    gap: 7px;
                    color: #fff;
                    font-size: 14px;

                    &:first-child {
                        position: relative;

                        &::after {
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 1px;
                            height: 100%;
                            background-color: #E2E2EA;
                        }
                    }

                    i {
                        color: #fff;
                    }

                    &:not(:last-child) {
                        position: relative;

                        &::before {
                            content: "";
                            position: absolute;
                            top: 6px;
                            right: 0;
                            width: 1px;
                            height: 15px;
                            background-color: #fff;

                        }
                    }
                }

                .ic-become {
                    display: inline-flex;
                    @include align-items(center);
                    gap: 10px;
                    font-weight: 300;
                    font-size: 14px;
                    color: #fff;
                    padding: 0 15px;

                    &:not(:last-child) {
                        position: relative;

                        &::before {
                            content: "";
                            position: absolute;
                            top: 6px;
                            right: 0;
                            width: 1px;
                            height: 15px;
                            background-color: #fff;

                        }
                    }

                    .h-become-btn {
                        display: inline-flex;
                        @include align-items(center);
                        @include justify-content(center);

                        i {
                            font-size: 13px;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    .ic-bottom-navbar {
        background-color: #fff;

        @media #{$max1199} {
            padding: 15px 0;
        }

        @media #{$max991} {
            padding: 3px 0;
        }

        &.sticky {
            position: fixed;
            top: 0;
            width: 100%;
            left: 0;
            z-index: 99;
            animation: sticky ease-in-out .4s;
            box-shadow: rgb(50, 50, 93, 0.12) 0px 0px 2px -1px, rgb(0, 0, 0, 0.19) 0px 1px 4px -1px;
        }

        @keyframes sticky {
            from {
                top: -50px;
            }

            to {
                top: 0;
            }
        }

        .ic-navbar-nav {
            @include d-flex();
            @include align-items(center);
            @include justify-content(space-between);

            .ic-navbar-left {
                @include d-flex();
                @include align-items(center);
                gap: 50px;

                @media #{$max1399} {
                    gap: 28px;
                }

                .ic-navbar-middle {
                    @include d-flex();
                    @include align-items(center);
                    gap: 50px;
                    @include transition(0.3s);

                    @media #{$max1399} {
                        gap: 28px;
                    }

                    @media #{$max1199} {
                        flex-wrap: nowrap;
                        flex-direction: column;
                        @include align-items(start);
                        position: fixed;
                        transform: translateX(-100%);
                        background-color: $white;
                        width: 290px;
                        height: 100%;
                        left: 0;
                        top: 0;
                        gap: 20px;
                        z-index: 9999;
                        padding: 20px 20px;
                        overflow-y: auto;
                    }

                    .ic-sidebar-top-func {
                        @include d-flex();
                        @include align-items(center);
                        @include justify-content(space-between);
                        width: 100%;
                        display: none;

                        @media #{$max1199} {
                            @include d-flex();
                        }

                        a {
                            font-size: 28px;

                            i {
                                font-size: 28px;
                            }

                            &.close-sideb-menu {
                                color: $gray;
                                display: none;
                            }

                            &.close-sidebar-menu {
                                color: $red;
                            }
                        }
                    }

                    &.active {
                        transform: translateX(0);

                        .ic-navbar-menu {
                            width: 100%;
                            display: block;
                            position: relative;

                            .ic-navbar-menu-nav {
                                flex-direction: column;
                                @include align-items(start);
                                gap: 0;

                                &.items-hide {
                                    position: absolute;
                                    transform: translateX(-150%);
                                }

                                .ic-navbar-menu-item {
                                    width: 100%;

                                    .ic-mobile-mega-menu {
                                        background-color: #f9f9f9;
                                        // padding: 10px;
                                        display: none;

                                        li {
                                            >a {
                                                font-size: 14px;
                                                color: $black;
                                                display: flex;
                                                align-items: center;
                                                justify-content: space-between;
                                                padding: 6px 5px;

                                            }

                                            .sub-menu-mega {
                                                background-color: #edeaea;
                                                padding: 10px;
                                                display: none;
                                            }

                                            &:not(:last-child) {
                                                >a {
                                                    border-bottom: 1px solid #E2E2EA;
                                                }
                                            }
                                        }
                                    }

                                    .ic-navbar-menu-link {
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                        padding: 8px 0;

                                        &.all-catagories-link {
                                            @include d-flex();
                                            @include align-items(center);
                                            @include justify-content(space-between);
                                        }
                                    }
                                }
                            }

                            .mega-menu-mobile {
                                .mega-menu-nav {
                                    .mega-menu-items {
                                        .mega-menu-links {
                                            color: #232323;
                                            @include transition(0.4s);
                                            display: block;
                                            padding: 15px 0;
                                            @include d-flex();
                                            @include align-items(center);
                                            @include justify-content(space-between);
                                        }

                                        ul {
                                            padding-left: 10px;

                                            li {
                                                a {
                                                    display: block;
                                                    padding: 10px 0;
                                                    color: $gray;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        +.ic-navbar-right {
                            margin-left: auto;
                        }
                    }
                }

                .ic-catagories-menu {
                    position: relative;
                    padding: 20px 0;
                    display: block;

                    @media #{$max1199} {
                        display: none;
                    }

                    p {
                        padding: 10px 20px;
                        border: 1px solid $stock;
                        @include bd-radius(50px);
                        background-color: #fff;
                        font-size: 15px;
                        @include d-flex();
                        @include align-items(center);
                        gap: 10px;
                        color: $primary;
                        cursor: pointer;

                        i {
                            font-size: 18px;
                            color: $primary;
                        }
                    }

                    .ic-main-mega-menu {
                        display: none;
                    }

                    .ic-mega-catagories {
                        position: absolute;
                        width: 1056px;
                        background: $bg-4;
                        border-radius: 0px 5px 5px 0px;
                        left: 0;
                        top: 65px;
                        z-index: 9;
                        @include d-flex();
                        @include bd-radius(5px);

                        @media #{$max1399} {
                            width: 929px;
                        }

                        .ic-left-menu {
                            width: 260px;
                            flex: 0 0 auto;
                            border-radius: 5px 0px;
                            background-color: $white;
                            @include bd-radius(5px);
                            position: relative;

                            &::after {
                                content: "";
                                position: absolute;
                                width: 10px;
                                height: 10px;
                                background-color: $white;
                                left: 30px;
                                top: -6px;
                                transform: rotate(45deg);
                                z-index: -1;
                            }

                            .left-mega-nav {
                                border-radius: 5px 0px;

                                li {
                                    &:first-child {
                                        border-top-left-radius: 5px;

                                        .ic-mega-link {
                                            border-top-left-radius: 5px;
                                        }
                                    }

                                    &:last-child {
                                        border-bottom-left-radius: 5px;

                                        .ic-mega-link {
                                            border-bottom-left-radius: 5px;
                                        }
                                    }

                                    &:not(:last-child) {
                                        border-bottom: 1px solid $w-shade;
                                    }

                                    .ic-mega-link {
                                        @include d-flex();
                                        padding: 15px 4px 15px 16px;
                                        gap: 10px;
                                        color: $black;
                                        font-size: 15px;
                                        @include align-items(center);
                                        border-left: 2px solid $white;

                                        i {
                                            font-size: 20px;
                                            margin-left: auto;
                                        }

                                        &.active {
                                            background-color: $bg-4;
                                            color: $primary;
                                            border-left: 2px solid $primary;

                                            img {
                                                filter: invert(63%) sepia(45%) saturate(7436%) hue-rotate(162deg) brightness(96%) contrast(102%);
                                            }

                                            i {
                                                background: -webkit-linear-gradient(180deg, #2EB7D3 0.01%, #06738A 100%);
                                                -webkit-background-clip: text;
                                                -webkit-text-fill-color: transparent;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .ic-right-menu {
                            padding: 30px 45px;
                            flex: 1;

                            .mega-content {
                                display: none;

                                &.active {
                                    display: block;
                                }
                            }

                            .mega-sub-menu {
                                @include d-flex();
                                gap: 20px;

                                .mega-sub-menu-li {
                                    width: calc(100% / 3 - 20px + 20px / 3);

                                    h5 {
                                        padding-bottom: 15px;
                                    }

                                    .mega-inner-sub-menu {
                                        li {
                                            a {
                                                font-weight: 300;
                                                font-size: 16px;
                                                line-height: 35px;
                                                color: $black;
                                                @include transition(0.3s);

                                                &:hover {
                                                    color: $primary;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .ic-navbar-menu {
                    @media #{$max1199} {
                        display: none;
                    }

                    ul.ic-navbar-menu-nav {
                        @include d-flex();
                        @include align-items(center);
                        gap: 25px;
                        @include transition(0.3s);

                        li.ic-navbar-menu-item {
                            position: relative;

                            &:nth-child(1) {
                                display: none;

                                @media #{$max1199} {
                                    display: block;
                                }
                            }

                            // &:last-child {
                            //     .ic-dropdwon {
                            //         display: none;
                            //     }
                            // }

                            &:hover {
                                .ic-dropdwon {
                                    display: block;

                                    @media #{$max1199} {
                                        display: none;
                                    }
                                }
                            }

                            a.ic-navbar-menu-link {
                                color: #232323;
                                @include transition(0.4s);
                                padding: 27px 0;

                                &:hover {
                                    color: $primary;
                                }
                            }

                            &.all-catagories-link {
                                display: none;

                                @media #{$max1199} {
                                    display: block;
                                }
                            }

                            .ic-dropdwon {
                                width: 270px;
                                background: #FFFFFF;
                                box-shadow: 0px 6px 15px rgba(64, 79, 104, 0.05);
                                border-radius: 0px 0px 5px 5px;
                                position: absolute;
                                top: 45px;
                                z-index: 9;
                                display: none;

                                @media #{$max1199} {
                                    width: 100%;
                                    box-shadow: none;
                                    background-color: #f9f9f9;
                                }

                                li {
                                    a {
                                        padding: 13px 30px;
                                        border-left: 2px solid $white;
                                        display: block;
                                        color: $black;

                                        @media #{$max1199} {
                                            padding: 8px 10px;
                                        }

                                        &:hover {
                                            background-color: #F7F7F7;
                                            border-left: 2px solid $primary;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .mega-menu-mobile {
                        position: absolute;
                        width: 100%;
                        transform: translateX(-150%);
                        @include transition(0.3s);

                        &.active {
                            transform: translateX(0);
                        }
                    }
                }

            }

            .ic-navbar-right {
                position: relative;
                @include d-flex();
                @include align-items(center);
                gap: 13px;

                @media #{$max480} {
                    gap: 5px;
                }
 
                .ic-student-avatar {
                    .dropdown-menu {
                        // inset: 0px 0px auto 0px!important;
                        // transform: translate3d(-116.8px, 120px, 0px)!important;
                        left: -193px !important;

                        @media (max-width: 1700px) {
                            transform: translate3d(267px, 58px, 0px)!important;
                        }
                        @media #{$max1399} {
                            transform: translate3d(203px, 58px, 0px)!important;
                        }
                        @media #{$max767} {
                            transform: translate3d(55px, 58px, 0px)!important;
                        }
                    }
                }

                .ic-search-btn {
                    position: relative;
                    // @include box(50px, 50px);
                    @include bd-radius(50px);
                    background-color: $white;
                    border: 1px solid $stock;
                    color: $gray;
                    width: 254px;

                    @media #{$max1399} {
                        width: 196px;
                    }

                    @media #{$max767} {
                        width: 44px;
                    }

                    input {
                        border: 0;
                        height: 50px;
                        @include bd-radius(50px);
                        padding-left: 23px;

                        @media #{$max1199} {
                            height: 39px;
                        }

                        @media #{$max767} {
                            padding-left: 0;
                            width: 0;
                        }

                        &::placeholder {
                            font-weight: 300;
                            font-size: 14px;
                        }
                    }

                    i {
                        font-size: 20px;
                        position: absolute;
                        top: 50%;
                        right: 20px;
                        transform: translateY(-50%);

                        @media #{$max767} {
                            right: 10px;
                        }
                    }
                }

                .ic-btn-login {
                    height: 50px;

                    @media #{$max1199} {
                        padding: 0 18px;
                        height: 40px;
                    }

                    @media #{$max480} {
                        padding: 0 14px;
                        height: 40px;

                        i {
                            display: none;
                        }
                    }
                }

                .humbugger-menu {
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    display: flex;
                    padding: 0;
                    display: none;

                    @media #{$max1199} {
                        display: block;
                    }

                    svg {
                        width: 40px;
                        height: 35px;
                    }

                    .line {
                        fill: none;
                        stroke: black;
                        stroke-width: 6;
                        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                            stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
                    }

                    .line1 {
                        stroke-dasharray: 40 207;
                        stroke-width: 6;
                    }

                    .line2 {
                        stroke-dasharray: 60 60;
                        stroke-width: 6;
                    }

                    .line3 {
                        stroke-dasharray: 40 207;
                        stroke-width: 6;
                    }

                    &.opened .line1 {
                        stroke-dasharray: 90 207;
                        stroke-dashoffset: -134;
                        stroke-width: 6;
                    }

                    &.opened .line2 {
                        stroke-dasharray: 1 60;
                        stroke-dashoffset: -30;
                        stroke-width: 6;
                    }

                    &.opened .line3 {
                        stroke-dasharray: 90 207;
                        stroke-dashoffset: -134;
                        stroke-width: 6;
                    }

                }
            }
        }
    }
}

.ic-mobile-mega-menu {
    display: none;
}



.ic-heading-title {
    background: rgba(255, 255, 255, 0.1);
    @include bd-radius(5px);
    padding: 5px 20px;
    display: inline-block;
    color: $white;

    @media #{$max1440} {
        font-size: 12px;
    }
}

.ic-title-border {
    @extend .ic-heading-title;
    border: 1px solid $stock;
    @include bd-radius(5px);
    color: $primary;
}

.ic-borderWith-whiteBg {
    @extend .ic-heading-title;
    background-color: $white;
    color: $primary;
    border: 1px solid $stock;
    text-transform: uppercase;
    @include bd-radius(50px);
}

.ic-headers {
    text-align: center;

    h2 {
        text-transform: capitalize;
    }
}


.ic-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    display: none;

    &.active {
        display: block;
    }
}

.afterLogin {
    .dropdown-toggle {
        background-color: transparent;

        img {
            width: 48px;
            height: 48px;
            @include bd-radius(50%);

            @media #{$max1199} {
                width: 40px;
                height: 40px;
            }
        }

        &::after {
            content: unset;
        }
    }

    .dropdown-menu {
        @include bd-radius(5px);
        border: 0;

        .dropdown-item {
            display: flex;
            gap: 5px;
            align-items: center;
            border-left: 2px solid #fff;

            &:active {
                background-color: $primary;
            }

            &:hover {
                border-left: 2px solid $primary;
                background-color: #F7F7F7;
            }
        }
    }

}
