.ic__premium--part {
    background-repeat: no-repeat;
    background-size: cover;
}

.premium-container {
    max-width: 1200px;
    margin: 0 auto;

    @media #{$max1199} {
        padding: 0 12px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }

    @media (min-width: 1280px) {
        max-width: 1180px;
    }

    @media (min-width: 1400px) {
        max-width: 1200px;
    }
}

.ic__premium--grids {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 380px;
    // margin-top: -156px;
    position: relative;

    @media #{$max1399} {
        grid-template-columns: 59% 350px;
    }

    @media #{$max991} {
        grid-template-columns: 1fr;
        display: block;
    }

    .ic__premium--right {
        @media #{$max991} {
            margin-top: 30px;
        }
    }
}

.increment {
    @include d-flex();
    flex-wrap: nowrap;
    @include align-items(center);
}

.ic__premium--cardItems {
    padding: 10px;
    background: rgba(255, 255, 255, 0.82);
    border: 1.02735px solid rgba(57, 87, 110, 0.1);
    box-shadow: 14px 20px 100px rgba(49, 89, 211, 0.09);
    @include bd-radius(10px);

    @media #{$max1199} {
        width: 100%;
        overflow-x: auto;
    }

    >div {
        @include d-flex();
        @include align-items(center);
        @include bd-radius(10px);
        @include justify-content(space-between);
        flex-wrap: nowrap;
        gap: 10px;
        // @media #{$max1199} {
        //     width: 770px;
        // }
    }

    &:not(:last-child) {
        margin-bottom: 10px;
    }

    .ic__premium--imgs {
        width: 71px;
        flex: 0 0 auto;
        @include bd-radius(5px);
    }

    .ic__premium--paragraph {
        width: 172px;
        flex: 0 0 auto;

        @media #{$max1440} {
            width: 124px;
        }

        p {
            font-weight: 500;
            font-size: 15px;
            line-height: 23px;
            color: #1C2532;
        }
    }

    .ic__premium--catagories {
        @include d-flex();
        @include align-items(center);
        flex-wrap: nowrap;
        gap: 20px;

        select {
            background-color: #fff;
            color: #66687C;
            font-weight: 300;
            height: 40px;
            border: none;
            padding: 0 15px;
            @include bd-radius(3px);

            &:focus {
                outline: 0;
            }

            &::-ms-expand {
                display: none;
            }

        }

        .increment {
            width: 92px;
            border: 2.0547px solid rgba(57, 87, 110, 0.1);
            @include bd-radius(3px);
            height: 40px;
            padding: 0 15px;

            input {
                background-color: transparent;
                text-align: center;
            }

            button {
                background-color: transparent;

                i {
                    color: #1D4869;
                    font-weight: 600;
                    line-height: inherit;
                }
            }
        }
    }

    .ic__premium--price {
        font-weight: 500;
        font-size: 18.4923px;
        line-height: 21px;
        color: #00B5BF;
    }

    .ic__premium--closed {
        a {
            font-size: 25px;
            color: #000000;
        }
    }
}

.coupon-forms {
    margin-top: 20px;
    @include d-flex();
    @include align-items(center);
    @include justify-content(space-between);

    @media #{$max1199} {
        flex-direction: column;
        gap: 30px;
    }

    input {
        height: 50px;
        background-color: #fff;
        border: none;
        @include bd-radius(90px);
        padding: 0 15px;
        width: 250px;

        @media #{$max1199} {
            width: 201px;
        }

        @media #{$max767} {
            height: 45px;
            width: 100%;
        }

        &::placeholder {
            font-weight: 300;
            color: #9B98A3;
        }
    }

    .ic__coupon--fields {
        @media #{$max1199} {
            width: 100%;
            @include d-flex();
            @include align-items(center);
            @include justify-content(space-between);
        }

        @media #{$max480} {
            flex-direction: column;
            gap: 20px;
        }

        button {
            height: 50px;
            padding: 0 28px;
            margin-left: 10px;

            @media #{$max767} {
                height: 45px;
            }

            @media #{$max480} {
                margin-left: 0px;
                width: 100%;
            }
        }
    }

    a {
        display: inline-flex;
        @include align-items(center);
        @include justify-content(center);
        height: 50px;
        padding: 0 28px;
        @include bd-radius(90px);
        color: #1B3B53;
        font-weight: 500;
        background-color: #fff;

    }
}

.ic__course--check {
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0px 54px 55px rgba(74, 83, 188, 0.08);
    @include bd-radius(25px);
    padding: 30px;
    padding: 30px 27px 38px;

    .course-vectors {
        position: absolute;
        bottom: -73px;
        left: -68px;
    }

    h3 {
        padding-bottom: 29px;
        text-align: center;
    }

    input {
        height: 59px;
        @include bd-radius(30px);
        border: 1px solid rgba(121, 139, 142, 0.2);
        padding: 16px 29px;

        @media #{$max1399} {
            height: 50px;
            padding: 16px 50px 16px 12px;
        }

        &::placeholder {
            font-weight: 300;
            font-size: 15px;
            line-height: 25px;
            color: #70798B;
        }
    }

    textarea {
        height: 173px;
        @include bd-radius(30px);
        border: 1px solid rgba(121, 139, 142, 0.2);
        padding: 30px;

        &::placeholder {
            font-weight: 300;
            font-size: 15px;
            line-height: 25px;
            color: #70798B;
        }
    }

    .bootstrap-select {
        width: 100% !important;

        .dropdown-toggle {
            height: 59px;
            background-color: #fff;
            border: none;
            font-family: $font-rubik;
            padding: 0;
            padding: 4px 24px;
            @include bd-radius(30px);
            border: 1px solid rgba(121, 139, 142, 0.2);

            @media #{$max1399} {
                height: 50px;
                padding: 16px 12px;
            }

            &::after {
                font-family: "remixicon" !important;
                content: "\ea4e";
                border: none;
                color: $gray;
                font-size: 19px;
                font-weight: 800;
            }

            &:active {
                background-color: #fff;
            }

            .filter-option-inner-inner {
                font-weight: 300;
                font-size: 15px;
                line-height: 25px;
                color: #70798B;
            }

            &:focus {
                box-shadow: none;
                outline: 0 !important;
            }
        }
    }

    .img-calender {
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);
        pointer-events: none;
        background: #fff;
        @media #{$max1399} {
            right: 17px;
        }
    }
}

.cart-total {
    margin-bottom: 14px;
    background: #FFFFFF;
    border: 1.02735px solid #EEEEEE;
    box-shadow: 14px 20px 100px rgba(49, 89, 211, 0.13);
    @include bd-radius(15px);
    padding: 30px 25px 20px 25px;

    h3 {
        padding-bottom: 30px;
        text-align: center;
        font-size: 25px;
    }

    ul {
        padding-bottom: 20px;

        li {
            padding-top: 1px solid #EEEEEE;
            @include d-flex();
            flex-wrap: nowrap;
            @include align-items(center);
            @include justify-content(space-between);
            padding: 20px 0;
            gap: 60px;
            border-bottom: 1px solid #EEEEEE;

            &:first-child {
                border-top: 1px solid #EEEEEE;
            }

            .ic--text {
                align-self: flex-start;

                p {
                    font-weight: 300;
                }
            }

            .ic__subTotal {
                p {
                    color: #666666;
                }
            }

            .ic__Total {
                p {
                    color: #00B5BF;
                    font-weight: 400;
                }
            }

            .ic__update--total {
                input {
                    border: 1.02735px solid #EEEEEE;
                    @include bd-radius(10px);
                    height: 40px;
                    padding: 12px 16px;
                    margin-bottom: 5px;

                    &::placeholder {
                        font-weight: 300;
                        font-size: 12.3282px;
                        line-height: 15px;
                        color: #BBBBBB;
                    }
                }

                button {
                    height: 40px;
                    @include bd-radius(10px);
                    background-color: #0DC3CD;
                    color: #fff;
                    width: 100%;
                }
            }
        }
    }

    .ic-btn {
        @include bd-radius(5px);
        height: 50px;
    }
}

.jp-card .jp-card-front .jp-card-lower .jp-card-name {
    font-size: 18px !important;
}

.jp-card .jp-card-front .jp-card-lower .jp-card-number {
    font-size: 18px !important;
}

.ic-creditCard {
    padding-top: 30px;

    label {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #151F31;
    }
}

.form-container {
    input {
        @include bd-radius(8px);
        border: 1px solid rgba(39, 146, 169, 0.31);
        height: 47px;

        &::placeholder {
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
        }
    }
}

.ic__payment-methodSelect {
    @include d-flex();
    @include align-items(center);
    padding-bottom: 20px;
    @include justify-content(space-between);
    row-gap: 10px;

    @media #{$max991} {
        @include justify-content(center);
        gap: 10px;
    }

    >div {
        width: 60px;
        flex: 0 0 auto;

        @media #{$max1399} {
            width: 57px;
        }

        input[type="radio"] {
            display: none;

            &:checked {
                +label {
                    border: 1px solid #2AA6C0;
                }
            }
        }

        label {
            cursor: pointer;
            background: #FFFFFF;
            border: 1px solid rgba(6, 115, 138, 0.13);
            @include bd-radius(5px);
            height: 32px;
            padding: 0 10px;
            display: inline-flex;
            line-height: 28px;
            align-items: center;

            @media #{$max1399} {
                padding: 0 5px;
            }

            img {
                max-width: 40px;
            }
        }
    }
}

.jp-card {
    @media #{$max1440} {
        min-width: 100% !important;
    }
}

.jp-card .jp-card-front,
.jp-card .jp-card-back {
    background: linear-gradient(123.8deg, #141E30 48.97%, #243B55 99.62%, #243B55 99.62%) !important;
}

.jp-card-front {
    .jp-card-shiny {
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url(/assets/images/payment/card-scan.png);
        }
    }
}


.jp-card .jp-card-front .jp-card-shiny,
.jp-card .jp-card-back .jp-card-shiny {
    width: 53px !important;
    height: 40px !important;
}

.ic__payment--method {
    text-align: center;

    .form-check {
        padding-left: 0;
        @include d-flex();
        @include align-items(center);
        gap: 10px;

        .form-check-input {
            float: unset;
            margin-left: unset;
            width: 3em;
            height: 20px;
            border-radius: 35px !important;

        }
    }
}
