@media (max-width: 1399px) {
  .ic-container {
    max-width: 100%;
    padding: 0 12px;
  }
}
@media (min-width: 1400px) {
  .ic-container {
    max-width: 1640px;
    margin: 0 auto;

    @media #{$max1650} {
      max-width: 1500px;
    }

    @media (max-width: 1500px) {
      max-width: 100%;
      padding: 0 12px;
    }
  }
}


/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  @include bd-radius(30px);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary;
  @include bd-radius(30px);
}


// section space
.ic-section-space {
  padding: 130px 0px;

  @media #{$max1399} {
    padding: 80px 0px;
  }

  @media #{$max1199} {
    padding: 60px 0px;
  }

  @media #{$max767} {
    padding: 40px 0px;
  }
}

// section space top
.ic-section-space-top-80 {
  padding-top: 80px;

  @media #{$max1650} {
    padding-top: 60px;
  }

  @media #{$max1199} {
    padding-top: 50px;
  }

  @media #{$max767} {
    padding-top: 40px;
  }
}
.ic-section-space-bottom-80 {
  padding-bottom: 80px;

  @media #{$max1650} {
    padding-bottom: 60px;
  }

  @media #{$max1199} {
    padding-bottom: 50px;
  }

  @media #{$max767} {
    padding-bottom: 40px;
  }
}

.ic-section-space-top {
  padding-top: 130px;

  @media #{$max1399} {
    padding-top: 80px;
  }

  @media #{$max1199} {
    padding-top: 60px;
  }

  @media #{$max767} {
    padding-top: 40px;
  }
}

// section space bottom
.ic-section-space-bottom {
  padding-bottom: 130px;

  @media #{$max1399} {
    padding-bottom: 80px;
  }

  @media #{$max1199} {
    padding-bottom: 60px;
  }

  @media #{$max767} {
    padding-bottom: 40px;
  }
}

.ic-section-margin-bottom {
  margin-bottom: 100px;

  @media #{$max1399} {
    margin-bottom: 80px;
  }

  @media #{$max1199} {
    margin-bottom: 60px;
  }

  @media #{$max767} {
    margin-bottom: 40px;
  }
}

.ic-section-header-space {
  margin-bottom: 60px;
}

.ic-content-space {
  margin-bottom: 30px;
}

.ic-content-space-small {
  margin-bottom: 18px;
}

.ic-content-space-extra-small {
  margin-bottom: 15px;
}

.mb-60 {
  margin-bottom: 60px;

  @media #{$max991} {
    margin-bottom: 35px;
  }
}

.mt-60 {
  margin-top: 60px;

  @media #{$max1399} {
    margin-top: 35px;
  }
}

.mb-50 {
  margin-bottom: 50px;

  @media #{$max1650} {
    margin-bottom: 40px;
  }

  @media #{$max1399} {
    margin-bottom: 35px;
  }

  @media #{$max1199} {
    margin-bottom: 30px;
  }

  @media #{$max991} {
    margin-bottom: 25px;
  }
}

.mt-50 {
  margin-top: 50px;

  @media #{$max1650} {
    margin-top: 40px;
  }

  @media #{$max1399} {
    margin-top: 35px;
  }

  @media #{$max1199} {
    margin-top: 30px;
  }

  @media #{$max991} {
    margin-top: 25px;
  }
}
 
.mb-55 {
  margin-bottom: 55px;
}

.mb-40 {
  margin-bottom: 40px;

  @media #{$max1650} {
    margin-bottom: 35px;
  }

  @media #{$max1399} {
    margin-bottom: 30px;
  }

  @media #{$max1199} {
    margin-bottom: 25px;
  }

  @media #{$max991} {
    margin-bottom: 20px;
  }
}

.mt-40 {
  margin-top: 40px;

  @media #{$max1650} {
    margin-top: 35px;
  }

  @media #{$max1399} {
    margin-top: 30px;
  }

  @media #{$max1199} {
    margin-bottom: 25px;
  }

  @media #{$max991} {
    margin-top: 20px;
  }
}

.mb-38 {
  margin-bottom: 38px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-30 {
  margin-bottom: 30px;

  @media #{$max1650} {
    margin-bottom: 25px;
  }

  @media #{$max1399} {
    margin-bottom: 20px;
  }

  @media #{$max767} {
    margin-bottom: 15px;
  }
}

.mb-28 {
  margin-bottom: 28px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-23 {
  margin-bottom: 23px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-18 {
  margin-bottom: 18px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-13 {
  margin-bottom: 13px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-5 {
  margin-bottom: 5px;
}
.pb-60 {
  padding-bottom: 60px;

  @media #{$max1399} {
    padding-bottom: 35px;
  }
}

.pt-60 {
  padding-top: 60px;

  @media #{$max1399} {
    padding-top: 35px;
  }
}

.pb-50 {
  padding-bottom: 50px;

  @media #{$max1650} {
    padding-bottom: 40px;
  }

  @media #{$max1399} {
    padding-bottom: 35px;
  }

  @media #{$max1199} {
    padding-bottom: 30px;
  }

  @media #{$max991} {
    padding-bottom: 25px;
  }
}

.pt-50 {
  padding-top: 50px;

  @media #{$max1650} {
    padding-top: 40px;
  }

  @media #{$max1399} {
    padding-top: 35px;
  }

  @media #{$max1199} {
    padding-top: 30px;
  }

  @media #{$max991} {
    padding-top: 25px;
  }
}

.pb-55 {
  padding-bottom: 55px;
}

.pb-40 {
  padding-bottom: 40px;

  @media #{$max1650} {
    padding-bottom: 35px;
  }

  @media #{$max1399} {
    padding-bottom: 30px;
  }

  @media #{$max1199} {
    padding-bottom: 25px;
  }

  @media #{$max991} {
    padding-bottom: 20px;
  }
}

.pt-40 {
  padding-top: 40px;

  @media #{$max1650} {
    padding-top: 35px;
  }

  @media #{$max1399} {
    padding-top: 30px;
  }

  @media #{$max1199} {
    padding-bottom: 25px;
  }

  @media #{$max991} {
    padding-top: 20px;
  }
}

.pb-38 {
  padding-bottom: 38px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-30 {
  padding-bottom: 30px;

  @media #{$max1650} {
    padding-bottom: 25px;
  }

  @media #{$max1399} {
    padding-bottom: 20px;
  }

  @media #{$max767} {
    padding-bottom: 15px;
  }
}

.pb-28 {
  padding-bottom: 28px;
}

.pb-24 {
  padding-bottom: 24px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-23 {
  padding-bottom: 23px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-18 {
  padding-bottom: 18px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-13 {
  padding-bottom: 13px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pb-5 {
  padding-bottom: 5px;
}